<!-- Componente: Formulario -->
<div class="row justify-content-center mt-4">
  <div class="col-md-8">
    <form class="row g-2" #f="ngForm" (ngSubmit)="f.form.valid && agregarValor()">
      <div class="col-auto">
        <select (change)="tipoOperacion($event)" class="form-select" [ngClass]="{'bg-danger': tipo === 'gastoOperacion', 'bg-success': tipo === 'ingresoOperacion'}">
          <option value="ingresoOperacion" selected>+</option>
          <option value="gastoOperacion">-</option>
        </select>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control border-success"
          name="descripcion"
          placeholder="Descripción"
          required
          [(ngModel)]="descripcionInput"
          [ngClass]="{'bg-danger': tipo === 'gastoOperacion', 'bg-success': tipo === 'ingresoOperacion'}"
        />
      </div>
      <div class="col-auto">
        <input
          type="number"
          class="form-control border-success"
          name="valor"
          placeholder="Valor"
          required
          [(ngModel)]="valorInput"
          [ngClass]="{'bg-danger': tipo === 'gastoOperacion', 'bg-success': tipo === 'ingresoOperacion'}"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn" [ngClass]="{'bg-danger': tipo === 'gastoOperacion', 'bg-success': tipo === 'ingresoOperacion'}">
          <i class="bi bi-check-circle"></i>
          <!-- Bootstrap Icon -->
        </button>
      </div>
    </form>
  </div>
</div>
