<div class="container my-5">
  <!-- Cabecero centrado -->
  <app-header
    [presupuestoTotal]="getPresupuestoTotal()"
    [ingresosTotales]="getIngresosTotales()"
    [gastosTotales]="getGastosTotales()"
    [porcentajeTotal]="getPorcentajeTotal()"
  >
  </app-header>
  <!-- Formulario centrado -->
  <app-form></app-form>
  <!-- Ingresos y Gastos en columnas de igual tamaño -->
  <div class="row mt-4">
    <!-- Componente: Ingresos -->
    <div class="col-md-6">
      <app-ingresos></app-ingresos>
    </div>
    <!-- Componente: Gastos -->
    <div class="col-md-6">
      <app-gastos [ingresosTotales]="getIngresosTotales()"></app-gastos>
    </div>
  </div>
</div>
